<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h3>Online Survey 2023</h3>
        <div class="navbar">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="media_icons">
                <!-- import bootstrap icons -->
            </div>
        </div>
    </header>
    {{{body}}}
    <footer>

    </footer>
</body>
</html>